.sb-light.large-8.large-centered.columns
  %h2 DBC Infowall
  %h4 One wall to rule them all!

  - if flash[:invalid_login]
    .panel.callout
      = flash[:invalid_login]

  = form_for :session, :url => login_path do |f|

    = f.label :username
    = f.text_field :username

    = f.label :password
    = f.password_field :password

    = f.submit "Login", class: "button radius"

