.sb-light.large-8.large-centered.columns
  %h2 DBC Infowall
  %h4 One wall to rule them all!

  - if flash[:invalid_login]
    .panel.callout
      = flash[:invalid_login]

  = form_for :session, :url => login_path do |f|
    .row
      .large-3.columns
        = f.label :username
        = f.text_field :username
      .large-3.columns.left
        = f.label :password
        = f.password_field :password
    .row
      .large-12.columns.large-centered
        .button-group.round.pad-bottom-15px
          = f.submit "Login", class: "button radius width-200px"
          = link_to 'Google oAuth', '/auth/google_oauth2', class: 'button radius alert width-200px'
          = link_to 'Slide Show', events_cards_path, class: 'button radius success width-200px'

