.row
  .sb-dark.large-8.large-centered.columns.white-text
    %p#notice= notice
    %p
      %strong Title:
      = @meetup.title
    %p
      %strong Organizer:
      = @meetup.organizer
    %p
      %strong Location:
      = @meetup.location
    %p
      %strong Img url:
      = image_tag @meetup.img_url, class: "circle-60px"
    %p
      %strong Meetup url:
      = link_to @meetup.meetup_url
    %p
      %strong Attending:
      = @meetup.attending
    %p
      %strong Event type:
      = @meetup.event_type
    %p
      %strong Descrption:
      = @meetup.description
    %p
      %strong Schedule:
      = @meetup.schedule.to_formatted_s(:short)
    = link_to 'Edit', edit_meetup_path(@meetup)
    |
    \#{link_to 'Back', meetups_path}
