= form_for(@event) do |f|
  - if @event.errors.any?
    .panel.callout
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message
  .row
    .large-12.columns.large-centered
      .large-6.columns
        = f.label :title
        = f.text_field :title
      .large-6.columns
        = f.label :organizer
        = f.text_field :organizer, placeholder: "Humperdink"
  .row
    .large-12.columns.large-centered
      .large-4.columns
        = f.label :event_type
        = f.select :event_type, [['Student (gray)', 'student'],['Internal (yellow)', 'internal']]
      .large-4.columns
        = f.label 'Staff Picture'
        = f.select :img_url, [['Andrew', 'andrew.jpg'], ['Anne', 'anne.jpg'], ['Brick', 'brick4.jpg'], ['Cat', 'cat.jpg'], ['Hunter', 'hunter.jpg'], ['Hillary', 'hillary.jpg'], ['Jen', 'jen.jpg'], ['Jenny', 'jenny.jpg'], ['Jordan', 'jordan.jpg'], ['Julian', 'julian.jpg'], ['K T', 'kt.jpg'], ['Leia', 'leia.jpg'], ['Marie', 'marie.jpg'], ['Shambhavi', 'shambhavi.jpg'],["Stu", 'stu.jpg']]
      .large-4.columns
        = f.label "Date:"
        = f.text_field :schedule, class: 'date-picker'
  .row
    .large-12.columns.large-centered
      .large-4.columns
        = f.label "Location: MAX 18 characters"
        = f.text_field :location, placeholder: "The Lodge"
      .large-4.columns
        = f.label "Event URL:"
        = f.text_field :event_url, placeholder: " (enter random numbers if none)"
      .large-4.columns
        = f.label "Number attending:"
        = f.text_field :attending, placeholder: "Most likely 0", value: 0
  .row
    .large-12.columns.large-centered
      .large-12.columns
        %label
          = f.label :description
        = f.text_field :description

  .actions.large-centered.center
    = f.submit class: "button radius"
    = f.submit "Create Duplicate", value: "duplicate",class: "button radius"
