.sb-dark
  %h1.teal-text All Events
  %table
    %thead
      %tr
        %th Title
        %th Organizer
        %th Location
        %th Staff Picture
        %th Event url
        %th Attending
        %th Event type
        %th Descrption
        %th Schedule
        %th{:colspan => "3"}
    %tbody
      - @events.each do |event|
        %tr
          %td= event.title
          %td= event.organizer
          %td= event.location
          %td= image_tag event.img_url, class: 'circle-60px'
          %td= event.event_url
          %td= event.attending
          %td= event.event_type
          %td= event.description
          %td= event.schedule.to_formatted_s(:short)
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
  = render 'layouts/nav'
