.row
  .sb-dark.large-8.large-centered.columns.white-text
    %p#notice= notice
    %p
      %strong Title:
      = @event.title
    %p
      %strong Organizer:
      = @event.organizer
    %p
      %strong Location:
      = @event.location
    %p
      %strong Img url:
      = image_tag @event.img_url, class: "circle-60px"
    %p
      %strong Event url:
      = link_to @event.event_url
    %p
      %strong Attending:
      = @event.attending
    %p
      %strong Event type:
      = @event.event_type
    %p
      %strong Descrption:
      = @event.description
    %p
      %strong Schedule:
      = @event.schedule.to_formatted_s(:short)
    = link_to 'Edit', edit_event_path(@event)
    |
    \#{link_to 'Back', events_path}
