<p id="notice"><%= notice %></p>

<h1>Listing Text Scrolls</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Text color</th>
      <th>Bg color</th>
      <th>Scroll amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_scrolls.each do |text_scroll| %>
      <tr>
        <td><%= text_scroll.text %></td>
        <td><%= text_scroll.text_color %></td>
        <td><%= text_scroll.bg_color %></td>
        <td><%= text_scroll.scroll_amount %></td>
        <td><%= link_to 'Show', text_scroll %></td>
        <td><%= link_to 'Edit', edit_text_scroll_path(text_scroll) %></td>
        <td><%= link_to 'Destroy', text_scroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text scroll', new_text_scroll_path %>
