<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @text_scroll.text %>
</p>

<p>
  <strong>Text color:</strong>
  <%= @text_scroll.text_color %>
</p>

<p>
  <strong>Bg color:</strong>
  <%= @text_scroll.bg_color %>
</p>

<p>
  <strong>Scroll amount:</strong>
  <%= @text_scroll.scroll_amount %>
</p>

<%= link_to 'Edit', edit_text_scroll_path(@text_scroll) %> |
<%= link_to 'Back', text_scrolls_path %>
