= form_for @marquee do |f|
  - if @marquee.errors.any?
    .panel
      %h2= "#{pluralize(@marquee.errors.count, "error")} prohibited this marquee from being saved:"
      %ul
        - @marquee.errors.full_messages.each do |msg|
          %li= msg

  .row
    .row
      .large-12.columns
        = f.label :text
        = f.text_field :text
    .row
      .large-4.columns
        = f.label "Text Color: (ex: 'black' or HEX)"
        = f.text_field :text_color
      .large-4.columns
        = f.label "BG Color: (ex: 'black' or HEX)"
        = f.text_field :bg_color
      .large-4.columns
        = f.label "Scroll Rate: ( 5 to maybe 25, idk)"
        = f.text_field :scroll_amount
    .row
      .large-4.columns
        = f.label :display_status
        = f.select :display_status, [['Active', 'active'],['Save for later (off)', 'none']]
      .actions
        = f.submit 'Save Marquee', class: 'button success radius right'
