.large-12.columns.pad-top-bottom-15px
  .row
    .large-12.columns.center
      .row
        .button-group.round.pad-bottom-15px
          = link_to 'New Meetup', new_meetup_path, class: 'button round width-200px info'
          = link_to 'New Event', new_event_path, class: 'button round width-200px info'
          = link_to 'New Marquee', new_marquee_path, class: 'button round width-200px info'
      .row
        .button-group.round.pad-bottom-15px
          = link_to 'All Meetups', meetups_path, class: 'button round width-200px secondary'
          = link_to 'All Events', events_path, class: 'button round width-200px secondary'
          = link_to 'All Marquees', marquees_path, class: 'button round width-200px secondary'
  .row
    .large-12.columns.center
      = link_to "Start Show", root_path, class: 'success button radius width-200px'
      = link_to "Users", users_path, class: 'button radius width-200px'
      = link_to 'Logout', logout_path, class: 'button radius alert width-200px'
      = link_to 'AUTH', '/auth/google_oauth2/callback', class: 'button radius alert width-200px'
-# = link_to 'New Slide (n/a)', new_slide_path, class: 'button round width-200px'
-# = link_to 'All Slides (n/a)', slides_path, class: 'button round width-200px info'
