.large-12.columns
  .row
    .large-12.columns.center
      = link_to "Start Show", root_path, class: 'success button radius width-200px'
      = link_to "Users", users_path, class: 'button radius width-200px'
      = link_to 'Logout', logout_path, class: 'button radius alert width-200px'
      .button-group.round
        = link_to 'New Meetup', new_meetup_path, class: 'button round width-200px'
        = link_to 'New Event', new_event_path, class: 'button round width-200px'
        = link_to 'New Marquee', new_text_scroll_path, class: 'button round width-200px'
  .row
    .large-12.columns.center
      .button-group.round.pad-top-bottom-15px
        = link_to 'All Meetups', meetups_path, class: 'button round width-200px info'
        = link_to 'All Events', events_path, class: 'button round width-200px info'
        = link_to 'All Marquees', text_scrolls_path, class: 'button round width-200px info'
-# = link_to 'New Slide (n/a)', new_slide_path, class: 'button round width-200px'
-# = link_to 'All Slides (n/a)', slides_path, class: 'button round width-200px info'
