!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title DBC Infowall
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true

    = csrf_meta_tags
  %body#background
    = render "layouts/header"
    .wrapper
      #content
      = yield
    .footer
      - if @marquee
        = render 'marquees/marquee_scroll', locals: {marquee: @marquee}

-# {:onload => "setInterval(function() {window.location.reload();}, 512000);"}
